<h3>Access</h3>

<form [formGroup]="accessForm">
  <div>
    <input id="email" type="text" formControlName="email" placeholder="User" />
  </div>

  <div>
    <input
      id="password"
      type="text"
      formControlName="password"
      placeholder="Pass"
    />
  </div>

  <button class="button" type="button" (click)="login(accessForm.value)">Login</button>
  <button class="button" type="button" (click)="signup(accessForm.value)">Signup</button>
</form>
