<form [formGroup]="noteForm" (ngSubmit)="onSubmit()">
  <input
    id="content"
    type="text"
    formControlName="content"
    placeholder="Write note content..."
  />
  <button class="button" type="submit">Save</button>
</form>
