<a [routerLink]="['/']">
  <h1>Catalog</h1>
</a>

<a [routerLink]="['/access']"><h1>Access</h1></a>
<a [routerLink]="['/addnote']" class="button fancy-button"><i class="material-icons">add</i>Add</a>

<!-- 
Copyright Google LLC. All Rights Reserved.
Use of this source code is governed by an MIT-style license that
can be found in the LICENSE file at https://angular.io/license
-->